<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Blog practica
        </title>
        <meta charset="utf-8"/>
        <meta name="Pagina de practica" content="pagina de un ejercicio practico para repasar y profucndizar en los conceptos y el uso de HTML"/>
        <meta name="autor" content="Gabriel Jimenez"/>
        <meta name="keywords" content="practica, ejercico, ejemplo"/>

    </head>
    <body>

        <header>
            <h1>Titulo principal</h1>
        </header>
        <nav>
            <ul>
                <li>Pa</li>
                <li>pu</li>
                <li>landia</li>
            </ul>
        </nav>
        
        <section>
            <article>
                
                <h1>Subtitulo tipo 2</h1>
                <date datetime="28-05-2025"> Fecha de publicacion 28-05-2025</date>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem deleniti perspiciatis quos veritatis a 
                    necessitatibus laudantium magnam! Ea quia delectus optio excepturi ut consectetur facilis illo in quod, 
                    illum sit recusandae temporibus accusamus vitae ipsa? Dolorum, fugiat delectus asperiores consequatur no
                    bis doloremque tempora deleniti, recusandae eos exercitationem repellat fuga dolor.
                </p>
                <footer>
                    <p>Comentario (0)</p>
                </footer>
            </article>
            <article>
                
                <h1>Subtitulo tipo 2</h1>
                <date datetime="28-05-2025"> Fecha de publicacion 28-05-2025</date>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis maiores aut incidunt, amet provident 
                    quo? Sit ut exercitationem numquam laborum unde molestiae nostrum excepturi illum eveniet molestias praesentium
                    soluta consequatur, rerum ipsa ab quod. Mollitia consequuntur laudantium cumque unde cupiditate ullam illum
                    molestiae repudiandae architecto. Porro obcaecati repellat vero dolorum?
                </p>
                <footer>
                    <p>Comentario (10)</p>
                </footer>
            </article>
            
        </section>
        <aside>
            Archivo
             
            Acerca De
        </aside>
        <footer>
            Derechos Reservado 2018-2025
        </footer>
    </body>
</html>