<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../static/css/iniciar_sesion.css">
    <script src="../static/js/forgot_password.js"></script>
</head>
<body>
    <div class="container">
        <div class="left_panel">
            <h2 class="slogan">Haz que suceda, una tarea a la vez.</h2>
            <hr>
            <h1>MeAgendo</h1>
        </div>

        <div class="right_panel">
            <h2>Recuperar Contraseña</h2>
            <form id="forgot-form" method="post" action="/forgot-password/">
                <div class="form-group">
                    <div class="input-wrapper">
                        <input
                            type="email"
                            name="email"
                            placeholder="Tu correo electrónico"
                            class="input-field"
                            required
                        >
                        <small class="error-tooltip"></small>
                    </div>
                </div>
                <button type="submit" class="btn-signup">
                    <i class="fas fa-paper-plane"></i> ENVIAR ENLACE
                </button>
                <p class="info-msg"></p>
            </form>
        </div>
    </div>
</body>
</html>
