<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Iniciar Sesion</title>
        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap" rel="stylesheet">
        <!--cdn fast awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <!--Live server-->
        <link rel="stylesheet" href="../static/css/iniciar_sesion.css">
</head>
<body>
    <div class="container">
        <div class="left_panel">
            <h2 class="slogan">Haz que suceda, una tarea a la vez.</h2>
            <hr>
            <h1>MeAgendo</h1>
        </div>
        <div class="right_panel">

            <h2>Iniciar Sesión</h2>
            <div class="form-group">
                <input type="text" placeholder="Nombre de usuario" class="input-field">
                <input type="password" placeholder="Contraseña" class="input-field">
                <input type="password" placeholder="Confirmar contraseña" class="input-field">
            </div>
            <button class="btn-signup">
                <i class="fas fa-sign-in-alt"></i> INICIAR SESION
            </button>


        </div>
    </div>
</body>
</html>
