* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(../img/fondo\ inicio_waifu2x_art_noise3_scale_AI\ Extender.jpg) no-repeat center center/cover;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fff;


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 10px;
}
hr {
    border: none;
    height: 2px;
    width: 40%;
    background-color: #fff;    
}
h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
h2 {
    max-width: 16rem;
    min-width: 16rem;
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;
}

p {
    max-width: 28rem;
    min-width: 28rem;
    font-size: 1.6rem;
    text-align: center;
}
.left_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    padding: 6rem;
    text-align: center;
    gap: 20px;
}
.right_panel{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.right_panel button {
    width: 200px;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-login {
    background: #e4e4e4;
    color: black;
}

.btn-login:hover {
    background: #b6b6b6;
}
